:root {
  --bg-color: 27, 27, 27;
  --font-color: 255, 255, 255;
}

body {
  background-color: rgb(var(--bg-color));
  font-family: Arial, sans-serif;
  color: rgb(var(--font-color));
}

.container {
  display: flex;
  flex-wrap: wrap;
}

#top-half-outer {
  flex-wrap: wrap;
}

.top-half-inner {
  flex: 1 1;
}

.top-half-inner img {
  max-width: 100%
}

.top-half-inner iframe {
  width: 100%;
  height: 100%;
}

#social-links {
  flex-wrap: nowrap;
}

.top-half-link-item {
  border: 1em;
}

#bottom-half-outer {
  background: url(../assets/coin-background.jpg);
}

#bottom-half-inner {
  flex-wrap: wrap;
  justify-content: center;
}

.bottom-half-item {
  background-color: rgba(var(--bg-color), .8);
  border-radius: 1em;
  text-align: center;
}

.bottom-half-item img {
  max-width: 80%;
}

.bottom-half-item span {
  display: block;
}