{% for hunter-pack in site.data.hunter-packs %}
<div class='hunter-pack-outer'>
  <div class='hunter-pack'>

    <img alt='{{ hunter-pack.name }}' src='assets/images/{{ hunter-pack.img }}' />

    <div class='pack-name'>{{ hunter-pack.name }}</div>

    <div class='pack-description'>{{ hunter-pack.description }}</div>

    <div class='pack-price'>${{ hunter-pack.price }}</div>

    <div class='donate-button'>
      {% include paypal-form.html paypal-id = hunter-pack.paypal-id %}
    </div>

  </div>
</div>
{% endfor %}