---
---

%full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

%max-width {
  max-width: 1200px;
  margin: auto;
}

html {
  font-family: Arial, sans-serif;
  color: rgb(255, 255, 255);
}

body {
  text-align: center;
  background: rgb(27, 27, 27);
}

#wrapper {
  @extend %max-width;
  margin: 5px auto;
}

#top-half-outer {
  display: flex;
  flex-wrap: wrap-reverse;
  padding-top: 1.5em;
  padding-bottom: 1em;
}

.top-half-inner {
  flex: 1 1;
  min-width: 21em;
  padding: 0 .5em;
  img {
    width: 100%;
    height: 100%;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
}

#social-links {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.top-half-link-item {
  padding: 0 1em;
}

#bottom-half-outer {
  @extend %full-width;
  background-image: url(../images/coin-background.jpg);
  background-position: center;
  background-size: cover;
  background-attachment:  scroll;
}

#bottom-half-inner {
  @extend %max-width;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: .5em 1em;
}

.hunter-pack-group {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  flex: 1 1;
  justify-content: center;
}

.hunter-pack-outer {
  display: flex;
  flex-wrap: nowrap;
  flex-basis: 0;
  flex-grow: 1;
  padding: .5em;
}

.hunter-pack {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  background-color: rgba(27, 27, 27, .9);
  border-radius: 1em;
  min-width: 7em;
  max-width: 20em;
  padding: 1.5em;
  strong {
    font-size: xx-large;
  }
  .pack-image {
    img {
      width: 100%;
      height: 100%;
    }
  }
  .pack-name {
    font-size: x-large;
    font-weight: bolder;
    padding: .5em 0;
  }
  .pack-description {
    font-size: small;
    padding: .25em 0 .5em;
  }
  .pack-reward {
    padding: .5em 0;
  }
  .pack-price {
    font-size: x-large;
    font-weight: bolder;
    padding: .5em 0;
  }
}

footer {
  padding: .5em 0 0;
}