---
---

$bg-color: rgb(27, 27, 27);
$font-color: rgb(255, 255, 255);
$font-family: Arial, sans-serif;

%container {
  display: flex;
  flex-wrap: nowrap;
}

%full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

%max-width {
  max-width: 1200px;
  margin: auto;
}

html {
  font-family: $font-family;
  color: $font-color;
}

body {
  text-align: center;
  background: $bg-color;
}

#wrapper {
  @extend %max-width;
  margin: 5px auto;
}

#top-half-outer {
  @extend %container;
}

.top-half-inner {
  flex: 1 1;
  img {
    max-width: 100%
  }
  iframe {
    width: 100%;
    height: 100%;
  }
}

#social-links {
  @extend %container;
  flex-basis: 20%;
  justify-content: space-around;
  img {
    max-width: 5em;
  }
}

.top-half-link-item {
  border: 1em;
}

#bottom-half-outer {
  @extend %full-width;
  background: url(../images/coin-background.jpg);
}

#bottom-half-inner {
  @extend %max-width;
  @extend %container;
  justify-content: space-around;
}

.hunter-pack {
  background-color: rgba($bg-color, .9);
  border-radius: 1em;
  min-width: 12em;
  max-width: 20em;
  img {
    max-width: 80%;
  }
  margin: .75em;
  padding: .5em;
}
