---
---

$bg-color: rgb(27, 27, 27);
$font-color: rgb(255, 255, 255);
$font-family: Arial, sans-serif;

%container {
  display: flex;
  flex-wrap: wrap;
}

html {
  text-align: center;
}

body {
  background-color: $bg-color;
  font-family: $font-family;
  color: $font-color;
}

#top-half-outer {
  @extend %container;
}

.top-half-inner {
  flex: 1 1;
  img {
    max-width: 100%  
  }
  iframe {
    width: 100%;
    height: 100%;
  }
}

#social-links {
  @extend %container;
  flex-basis: 20%;
  justify-content: space-around;
  img {
    max-width: 5em;
  }
}

.top-half-link-item {
  border: 1em;
}

#bottom-half-outer {
  background: url(../images/coin-background.jpg);
}

#bottom-half-inner {
  @extend %container;
  justify-content: space-around;
}

.hunter-pack {
  background-color: rgba($bg-color, .9);
  border-radius: 1em;
  max-width: 20em;
  img {
    max-width: 80%;
  }
}
