<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html>
{% include header.html %}

<body>
  <div id='wrapper'>
    <div id='top-half-outer'>
      <div class='top-half-inner'>
        <div id='crhunters-logo'>
          <a href='.'><img alt='CRHunters Logo' src='assets/images/crhunters-logo.png' /></a>
        </div>
        <div id='social-links'>{% include social-links.html %}</div>
      </div>
      <div class='top-half-inner'>{% include youtube-embed.html %}</div>
    </div>
    <div id='bottom-half-outer'>
      <div id='bottom-half-inner'>
        {{ content }}
      </div>
    </div>
  </div>
</body>
{% include footer.html %}

</html>